<!DOCTYPE html>
<html lang="en">
<head id="headId">
  <meta charset="UTF-8">
  <title>Game finished</title>
</head>
<body>
<div align="center">
  <h1 id="game-over-title">Guess The Number Game</h1>
  <h2 id="game-over-text">Game over text</h2>
  <h3 id="result-text">Result message</h3>
  <h3>
    <a id="restart-link">
      Play Again
    </a>
  </h3>
  <h3>
    <a id="home-link">
      Home
    </a>
  </h3>
  <footer id="footerId">
    <p>footer placeholder</p>
  </footer>

</div>
</body>
</html>